# Ignorar carpetas data especificas
recurso/twitch_zk/data
recurso/twitch_zk/chat_gemi
recurso/twitch_zk/follow/follow
bd/data
pruebas

# Ignorar la carpeta .env y archivos .env
.env/
.env

# Ignorar archivos temporales comunes
*.log
*.tmp
__pycache__/
*.py[cod]
*$py.class

# Ignorar archivos temporales de SQLite
*.db-shm
*.db-wal

CLAUDE.md
.claude/
query

rest_test/